<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <title>Alchemy Tipping</title>
    <style>
        #bodyWrap
        {
            margin-left: 3%;
            margin-bottom: 3%;
            margin-right: 3%;
        }
        h1{
            text-align: center;
        }
        #script {
            width:90%;
            height: 500px;
        }
        #contractAddress {
            width: 50%;
        }
        p.ex {
             color: red;
        }
        p.l1 {
                margin-left: 30px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/qrcodejs/1.0.0/qrcode.min.js"></script>
</head>

<body>
<div class="jumbotron">
    <h1>Scanning for Tips</h1>
</div>
<br/>
<br/>
<h5 id="tips">Looking for your tips ...</h5>

<script>

    window.onload = checkUpdate('[USER_ID]', '[CHECK_URL]');
    let tipsCount = 0;

    function checkUpdate(userId, tipScan)
    {
        let tipsLine = document.getElementById("tips");
        //see if wait is over:
        setTimeout(function() {
            fetch(tipScan)
                .then(handleErrors)
                .then(function (response) {
                    if (response == "pass")
                    {
                        window.location.href = '/checkTipResults/' + userId;
                    }
                    else
                    {
                        tipsCount++;
                        if (tipsCount%2 == 1) { tipsLine.innerHTML = "Looking for your tips ***"; }
                        else { tipsLine.innerHTML = "Looking for your tips ..."; }
                        checkUpdate(userId, tipScan);
                    }
                })
        }, 1000);
    }

    function handleErrors(response) {
        if (!response.ok) {
            Console.log(response);
        }
        return response.text();
    }

</script>
</body>
</html>